body {
    text-align: center;
}

.game-box {
    border: 1px solid #c3c3c3;
}

.navigation-controllers {
    display: none;
}

@media screen and (max-width: 800px) {
    .navigation-controllers {
        display: block;
    }
}
